@lgm: ~"only screen and (min-width : 1200px)";
@mdm: ~"only screen and (min-width : 992px)";
@smm: ~"only screen and (min-width : 768px)";
@xsm: ~"only screen and (min-width : 480px)";
@lg: ~"only screen and (max-width : 1200px)";
@md: ~"only screen and (max-width : 992px)";
@sm: ~"only screen and (max-width : 768px)";
@xs: ~"only screen and (max-width : 480px)";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);

.font-roboto() {
  font-family: 'Roboto', sans-serif;
}

