@import "reset";
@import "config";
@import "ripples";
@import "material-wfont";
@import "perfect-scrollbar";

body, html, .page-wrap {
  max-height: 100%;
  height: 100%;
}

body {
  .font-roboto();
  font-weight: 300;

}

.panel {
  margin-bottom: 0px;
}

.stops-list {
  z-index: 100;
  .open-search {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    @media @sm {
      bottom: 5px;
      right: 5px;
    }
  }
  .open-map {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 95;
    background-color: #752C8E !important;
    &.map-selected {
      background-color: #2C748E !important;
    }
    @media @sm {
      bottom: 70px;
      right: 5px;
    }
  }
  .stops-box {
    position: fixed;
    width: 300px;
    height: 400px;
    bottom: 0px;
    right: 110px;
    z-index: 99;
    overflow: hidden;
    @media @sm {
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 94%;
    }
    .panel-heading {
      background-color: #555;
      color: #fff;
      a {
        cursor: pointer;
        color: #909090;
        &:hover {
          color: #A5A5A5;
        }
      }
    }
    .choose-stop {
      height: 30px;
      float: left;
      text-transform: uppercase;
      width: 100%;
      .form-control-wrapper {
        background-color: #fff;
        z-index: 10;
      }
      input {
        text-transform: uppercase;
        padding: 0px 5px;
        margin: 5px 0px;

      }
    }
    .stops-wrap {
      height: 335px;
      float: left;
      overflow: hidden;
      width: 100%;
      padding: 0px 10px 0px 5px;
      position: relative;
      @media @sm {
        height: 95%;
      }
      .start-type-info {
        font-size: 15px;
        padding: 10px 0px;
        text-align: center;
        color: #CBCBCB;
      }
      li {
        width: 100%;
        white-space: initial;
        a {
          width: 100%;
          white-space: initial;
        }
      }
    }
  }
}

.departure-list {
  width: 65%;
  max-width: 768px;
  margin: 0 auto;
  @media @md {
    width: 100%;

  }
  padding: 1%;
  .start-description {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    i {
      position: relative;
      top: 5px;
    }
  }
  @filters-height: 75px;

  .list-group {

    margin-top: @filters-height;
    margin-bottom: 20px;

    .list-group-item {
      @media @sm {
        padding: 0px;
      }
      .row-content {
        width: auto;
        @media @sm {
          width: 100%;
        }
        .least-content {
          font-size: 30px;
          top: 15px;
          .exact-time {
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
      .row-action-primary {
        .transport-icon {
          font-size: 40px;
          &.mdi-maps-directions-transit {
            background-color: #427DA1;
          }
          &.mdi-maps-directions-bus {
            background-color: #3B8641;
          }
        }
      }
      .list-group-item-text {
        .from-small {
          font-size: 13px;
        }
        .from-big {
          font-size: 17px;
        }
      }
      .list-group-item-heading {
        font-size: 30px;
        line-height: 30px;
      }
    }
    .list-group-separator {
      &:before {
        width: calc(100%);
      }
    }
  }
  .filters {
    top: 0;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    position: fixed;
    height: @filters-height;
    @media @sm {
      padding-top: 15px;
    }
    width: 65%;
    max-width: 768px;
    margin: 0 auto;
    @media @md {
      width: 100%;

    }
    padding: 1%;
    z-index: 40;
    .btn-fab {
      margin-top: -5px;

    }
    span {
      font-size: 25px;
      margin-left: 10px;
      font-weight: bold;
    }
    .clock {
      font-size: 30px;
      margin-top: 5px;
      margin-right: 20px;
      @media  @sm {
        display: none;
      }
    }
    .lines-list {
      position: relative;
      left: -110px;
      top: -60px;
      width: 88px;
      .btn {
        float: left;
        display: block;

        background-color: #8A868C;
        width: 40px;
        height: 40px;
        padding: 7px;
        margin: 2px;
        &.btn-text {
          padding: 8px 0px;
          text-align: center;
          font-size: 18px;
        }
      }

      @media  @sm {
        display: none;
      }
    }
  }
}

.map-wrap {
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  z-index: 50;
  height: 90%;
  overflow: hidden;
  padding: 0 !important;
  .map-marker-label {
    padding: 2px;
    margin-left: -20px !important;
    color: white;
    background: #53869D;

  }
}

.angular-google-map-container {
  width: 96%;
  height: 96%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

