<div class="stops-list">

    <div ng-click="toggleSearch()"
         class="btn btn-info btn-fab btn-raised mdi-action-list open-search"
         ng-class="{true: 'btn-info', false: 'btn-success'}[!showSearch]">

    </div>
    <div ng-click="toggleMap()"
         class="btn btn-info btn-fab btn-raised mdi-maps-pin-drop open-map"
         ng-class="{false: 'map-selected'}[!showMap]">

    </div>
    <div ng-show="showSearch" class="stops-box panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title"><i class="mdi-action-pageview"></i> Quick search<a
                    class="mdi-navigation-close pull-right" ng-click="toggleSearch()"></a></h3>
        </div>
        <div class="choose-stop">
            <input ng-change="HomeFactory.stopSearch(home.search)" value="" ng-model="home.search"
                   class="form-control" ng-model-options="{ debounce: 500 }"
                   id="focusedInput"
                   type="text"
                   autofocus="true"
                   placeholder="Location">
        </div>
        <ul class="stops-wrap panel-body perfect-scroll">

            <li ng-repeat="stop in stops  |  filter:{ name: home.search }">
                <a class="btn btn-default" ui-sref="stop({slug : stop.slug})"
                   ng-click="home.hide = !home.hide;">{{stop.name}}</a>
            </li>
        </ul>
    </div>


</div>

